h2 {
    margin: 30px 0 10px 0;
}

h4{
    margin-bottom: 40px;
}

.buttons-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
}

.social-login {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 156px;
    margin: auto;
    padding-bottom: 60px;
    box-sizing: border-box;
}

.social-btn {
    width: 48px;
    height: 48px;
    margin: auto;
    background-position: center;
    background-size: contain 60%;
    background-repeat: no-repeat;
}

.google-btn {
    background-image: url(../img/Google.svg);
}

.twitter-btn {
    background-image: url(../img/Twitter.svg);
}

.facebook-btn {
    background-image: url(../img/Facebook.svg);
}

.email-btn {
    display: none;
    background-image: url(../img/Email.svg);
}

.cobertura {
    position: fixed;
    width: calc(100% - 530px);
    height: 100vh;
    right: 0;
    top: 0;
    background: rgba(48, 84, 95, 0.26);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.recheio {
    width: 640px;
    height: 640px;
    background-color: #fbfbfb;
    box-shadow: -6px -6px 12px rgba(0, 0, 0, 0.1), inset 0px 6px 24px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
}